# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit kriptoyngd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/kriptoyng/kriptoyng.conf

[Unit]
Description=kriptoyng daemon
After=network.target

[Service]
ExecStart=/usr/bin/kriptoyngd -daemon -conf=/etc/kriptoyng/kriptoyng.conf -pid=/run/kriptoyngd/kriptoyngd.pid
# Creates /run/kriptoyngd owned by kriptoyng
RuntimeDirectory=kriptoyngd
User=kriptoyng
Type=forking
PIDFile=/run/kriptoyngd/kriptoyngd.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
